{
    BasedOnStyle: LLVM,
    Language: Cpp,
    IndentWidth: 4,
    TabWidth: 4,
    ColumnLimit: 120,
    UseTab: Never,
    AlignConsecutiveAssignments: AcrossEmptyLinesAndComments,
    AlignConsecutiveDeclarations: AcrossComments,
    AlignConsecutiveMacros: AcrossEmptyLinesAndComments,
    AlignConsecutiveBitFields: AcrossEmptyLinesAndComments,
    AlignEscapedNewlines: Left,
    AllowAllParametersOfDeclarationOnNextLine: true,
    AllowShortFunctionsOnASingleLine: Empty,
    AllowShortIfStatementsOnASingleLine: WithoutElse,
    AllowShortCaseLabelsOnASingleLine: true,
    AllowShortBlocksOnASingleLine: Empty,
    AllowShortLoopsOnASingleLine: true,
    AlwaysBreakTemplateDeclarations: Yes,
    SpaceBeforeCpp11BracedList: true,
    BinPackParameters: true,
    BreakStringLiterals: false,
    FixNamespaceComments: false,
    IndentCaseLabels: true,
    IndentPPDirectives: BeforeHash,
    MaxEmptyLinesToKeep: 2,
    NamespaceIndentation: All,
    PointerAlignment: Right,
    DerivePointerAlignment: false,
    BreakBeforeBraces: Attach,
    PenaltyExcessCharacter: 10,
}
